
<mat-dialog-actions align="end">
    <button mat-icon-button color="warn" style="float:  right; margin: 10px;" matDialogClose> 
        <!-- (click)="cerrar()" -->
        <mat-icon>clear</mat-icon>
    </button>
</mat-dialog-actions>

<mat-dialog-content style="width: 100%;">
    <header>
        <h1 align="center">Confirmar para eliminar registro</h1>
    </header>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" matDialogClose (click)="confirmar()">Confirmar</button>
    <button mat-raised-button color="warn" matDialogClose>Cancelar</button>
</mat-dialog-actions>