<div class="container">
    <div class="row">
        <div class="col">
            <!-- <button mat-raised-button color="primary" style="margin:20px 0px;">Agregar persona</button> -->
            <button mat-raised-button color="primary" (click)="openGuardarDialog()" style="margin:20px 0px;">Agregar persona</button>

            <table mat-table [dataSource]="listaPersonas" class="mat-elevation-z8" #tabla1 style="border-radius: 10px;">

                <ng-container matColumnDef="Nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let item"> {{item.nombre}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Primer Apellido">
                  <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
                  <td mat-cell *matCellDef="let item"> {{item.primerApellido}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Segundo Apellido">
                  <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
                  <td mat-cell *matCellDef="let item"> {{item.segundoApellido}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Edad">
                    <th mat-header-cell *matHeaderCellDef> Edad </th>
                    <td mat-cell *matCellDef="let item"> {{item.edad}} </td>
                </ng-container>

                <ng-container matColumnDef="CURP">
                    <th mat-header-cell *matHeaderCellDef> CURP </th>
                    <td mat-cell *matCellDef="let item"> {{item.curp}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="Activo">
                    <th mat-header-cell *matHeaderCellDef> Estatus </th>
                    <td mat-cell *matCellDef="let item"> {{ item.activo }} </td>
                </ng-container> -->

                <ng-container matColumnDef="Acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let item">
                    <button mat-raised-button color="accent" focusable="false" style="margin-right: 10px;" (click)="openEditarDialog(item)"> Editar </button>
                    <!-- [disabled]="!element.activo" -->
                    
                    <button mat-raised-button color="warn" focusable="false"  (click)="openEliminarDialog(item.id)">Eliminar</button>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
              </table>
        </div>
    </div>
</div>